
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="msapplication-tap-highlight" content="no" />
<meta charset="UTF-8" />
<title>title</title>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link href="/webjars/materializecss/0.98.0/css/materialize.css"
	type="text/css" rel="stylesheet" media="screen,projection" />
<style>
#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 70px; /* Height of the footer */
	background: #6cf;
}

#footer2 {
	position: fixed;
	bottom: 70px;
	left: 0;
}

#saldo {
	position: fixed;
	bottom: 240px;
	left: 0;
}

#debt {
	position: fixed;
	bottom: 150px;
	left: 0;
}
</style>
</head>
<body bgcolor="white">
	<header>
		<div class="container">
			<a href="#" data-activates="nav-mobile"
				class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only"><i
				class="material-icons">menu</i></a>
		</div>
		<ul id="nav-mobile" class="side-nav fixed">


			<li class="bold"><a href="/bills"
				class="waves-effect waves-teal">Wpłaty/Wypłaty.</a></li>
			<hr />
			<li class="bold"><a href="/bills/bill/"
				class="waves-effect waves-teal">Dodaj transakcje.</a></li>
			<hr />
			<li class="bold"><a href="/debets"
				class="waves-effect waves-teal">Długi.</a></li>
			<hr />
			<li class="bold"><a href="/debets/debt"
				class="waves-effect waves-teal">Dodaj długi.</a></li>
			<hr />
			<li class="bold"><a href="/stats"
				class="waves-effect waves-teal">Wykresy i statystyki.</a></li>
			<hr />
			<form th:action="@{/logout}" method="post"
				style="display: inline-block">
				<input class="btn waves-effect waves-light" type="submit"
					value="Wyloguj" />
			</form>
			<div id="saldo">
				<font color="teal"><h4>Saldo:</h4><a th:text="${saldo}">First Line</a></font>
			</div>

			<div id="debt">
				<font color="teal"><h4>Zadłużenie:</h4><a th:text="${userDebets}">First Line</a></font>
			</div>


			<div id="footer2">
				<font color="teal"><h4>Money_Menager</h4></font>
			</div>


		</ul>
	</header>
	
	<div  class="center align">
	<a href="/debets/debt/add" class="waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>DODAJ TWOJEGO DŁUŻNIKA</a>
	<a href="/debets/debt/user/add" class="waves-effect waves-light btn-large"><i class="material-icons left">cloud</i>DODAJ TWÓJ DŁUG</a>
	</div>

	<div id="footer">
		<footer class="page-footer teal lighten-2">
			<div class="footer-copyright teal lighten-2">
				<div class="container teal lighten-2">
				© 2017 Copyright Konrad L. <a class="grey-text text-lighten-4 right"
						href="/license">License</a>
				</div>
			</div>
		</footer>
	</div>



	<!-- footer -->

	<script src="/webjars/jquery/2.1.4/jquery.js"></script>
	<script src="/webjars/materializecss/0.98.0/js/materialize.js"></script>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"></link>

	<!-- Compiled and minified JavaScript -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</body>
</html>