
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="pl">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="msapplication-tap-highlight" content="no" />
<meta charset="UTF-8" />
<title>title</title>
<link href="http://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />
<link href="/webjars/materializecss/0.98.0/css/materialize.css"
	type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body bgcolor="white">
	<header>
		<div class="container">
			<a href="#" data-activates="nav-mobile"
				class="button-collapse top-nav waves-effect waves-light circle hide-on-large-only"><i
				class="material-icons">menu</i></a>
		</div>
		<ul id="nav-mobile" class="side-nav fixed">

			<li class="bold"><a href="getting-started.html"
				class="waves-effect waves-teal">Wpłaty/Wypłaty.</a></li>
			<li class="bold"><a href="getting-started.html"
				class="waves-effect waves-teal">Dodaj transakcje.</a></li>
			<li class="bold"><a href="getting-started.html"
				class="waves-effect waves-teal">Długi.</a></li>
			<li class="bold"><a href="getting-started.html"
				class="waves-effect waves-teal">Dodaj długi.</a></li>
			<li class="bold"><a href="getting-started.html"
				class="waves-effect waves-teal">Wykresy i statystyki.</a></li>
			<li class="bold"><a href="getting-started.html"
				class="waves-effect waves-teal">Wyloguj.</a></li>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<div class="row"></div>
			<li class="bold"><a href="getting-started.html"
				class="waves-effect waves-teal">Wyloguj.</a></li>


		</ul>
	</header>

	<div class="row black">
		<div class="row">
			<div class="col s6 offset-s8">
				<span class="white"><h3 class="green">ECO MONEY MENAGER.</h3></span>
			</div>
		</div>
	</div>


	<div class="row">

		<div class="col s3">
			<!-- Promo Content 1 goes here -->
		</div>
		<div class="col s4">
			<span class="white"><h3 >Twoje długi: </h3></span>
			 <ul class="collection">
			<tr th:each="debt : ${debets}" th:if="${debt.isUserDebt()==true}">
		
				<li class="collection-item avatar"><i
					class="material-icons circle">folder</i> <font color="red"
					th:if="${debt.isUserDebt()==true}"> <span class="title"
						th:text="${debt.creditor}">Title</span>
						<p th:text="${debt.money}">First Line</p>
						<p th:text="${debt.deadline}">First Line</p> <a href="#!"
						class="secondary-content"><i class="material-icons">grade</i></a>
				</font></li>

			</tr>
			</ul>


		</div>
		<div class="col s4">
			<span class="white"><h3>Twoi dłużnicy: </h3></span>
			 <ul class="collection">
			<tr th:each="debt : ${debets}" th:if="${debt.isUserDebt()==false}">
				<li class="collection-item avatar"><i
					class="material-icons circle">folder</i> <font color="green"
					th:if="${debt.isUserDebt()==false}"> <span class="title"
						th:text="${debt.creditor}">Title</span>
						<p th:text="${debt.money}">First Line</p>
						<p th:text="${debt.deadline}">First Line</p> <a href="#!"
						class="secondary-content"><i class="material-icons">grade</i></a>
				</font></li>

			</tr>

	</ul>
		</div>

	</div>


	<!-- footer -->

	<script src="/webjars/jquery/2.1.4/jquery.js"></script>
	<script src="/webjars/materializecss/0.98.0/js/materialize.js"></script>
	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css"></link>

	<!-- Compiled and minified JavaScript -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</body>
</html>